@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Buscando mí trago</h1><br />
    <img src="https://www.thecocktaildb.com/images/cocktail_left.png" />
    <div><button type="button" class="btn btn-warning">@Html.ActionLink("Buscar", "Search", "Search")</button></div>
</div>
