@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Buscando mi trago</h1><br />
    <img src="https://www.thecocktaildb.com/images/cocktail_left.png" />
    <div>
       
        @using (Html.BeginForm("Search", "Search", FormMethod.Get))
        {
            <p>
                Buscar por bebida:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.TextBox("name")
                <input type="submit" value="Buscar" class="btn btn-warning" />
            </p>
        }
        <br />
        @using (Html.BeginForm("SearchByIngredient", "Search", FormMethod.Get))
        {
            <p>
                Buscar por ingrediente: @Html.TextBox("ingredient")
                <input type="submit" value="Buscar" class="btn btn-info" />
            </p>
        }
        
   </div>
</div>
